.navbar-div {
  border-bottom: solid;
  border-color: black;
}

#nav1 {
  padding-left: 2%;
  padding-right: 2%;
}

.logo {
  max-height: 30px;
}

.nav-item {
  margin-left: 15px;
  margin-right: 15px;
}

.img-fluid {
  width: 100%;
}

.jumbotron {
  margin: auto;
  padding-left: 2%;
  padding-right: 2%;
  background-color: white;
}

.login-body {
  background-color: CadetBlue;
}

.form-group {
  height: 50px;
}

.LoginForm {
  background-color: white;
  padding: 5%;
  font-weight: bold;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: auto;
  max-width: 50%;
  min-width: 200px;
}

.LoginForm > h1 {
  text-align: center;
  margin-bottom: 10%;
}

#loginButton {
  display: block;
  margin: auto;
  width: 10%;
}

.registerForm {
  background-color: white;
  padding: 1%;
  font-weight: bold;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12%;
  max-width: 50%;
  min-width: 200px;
}

.registerForm > div {
  margin-top: 12px;
  margin-bottom: 10px;
}

#registerButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  margin-top: 50px;
}

#gallery {
  display: inline;
  margin-left: 20px;
}

#gallery > li {
  display: inline;
}

#gallery > li > img {
  height: 550px;
  margin-top: 5px;
}

.price_list {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 50px;
}

#dodaj_zaposlenika_h3 {
  margin-top: 50px;
}

#dodaj_zaposlenika > div {
  min-height: 75px;
}

#dodaj_zaposlenika > div > label{
  margin-bottom: 10px;
}
